.fundoCardSite{
display: flex;
flex-direction: row;
height: 450px;
justify-content: space-between;
font-size: small;
}

.titulo{
    color: white;
}

.fundoCardmscSite{
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-between;
    font-size: small;
    }