.hs1{
 background-color: red;
}
.hs2{
    background-color: blue;
   }
   .hs3{
    background-color: green;
   }
   .hs4{
    background-color: yellow;
   }
   .hs5{
    background-color: pink;
   }
   .hs6{
    background-color: purple;
   }